{% extends 'base.html.twig' %}

{% block content %}


    <div class="container-fluid bg-light">
        <div class="row">
            {% for developer in developers %}
                <a class="navbar-toggler" href="{{ path('default.developer.todo', {developer:developer.id}) }}">{{ developer.name }} </a>
            {% endfor %}
        </div>
    </div>





{% endblock %}